/* ------------------ Header ------------------ */

.header-logo {
  height: 30px;
  width: 35px;
}

.navbar-brand {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.4rem;
  color: rgb(24, 97, 24);
}

.navbar button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.8rem !important;
}

.nav-item a:hover,
.navbar button:hover {
  text-decoration: underline;
}

.text-success {
  color: rgb(9, 133, 199) !important;
}
.nav-item a {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
}

.nav-link {
  color: rgb(9, 133, 199) !important;
}
.active {
  cursor: default;
}

.active:hover {
  text-decoration: none !important;
}

/* ------------------ Main ------------------ */

.label {
  background-color: rgba(0, 0, 0, 0.137);
}

.label h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.4rem;
}

.content {
  background-color: rgba(70, 85, 129, 0.288);
}

.search input,
.search select,
.search button {
  font-size: 0.9rem;
}

.button-set button {
  font-size: 0.9rem;
  width: 100px;
}

/* .w-75 {
  display: flex;
  height: 80px;
} */

.table-responsive th {
  font-size: 0.9rem;
}

.table-responsive td {
  font-size: 0.8rem;
}
